#!/bin/sh

usage() {
cat << EOF
Usage: mxmd.config [OPTIONS] PREFIX

Options:
    -a ARCH	specify architecture (default: 64)
    -z PREFIX	specify Z libs path (default: /usr/local32
		  for 32 bit and /usr/local for 64 bit)
    -c		force re-configure
    -d		debug build (default: release)
    -M		build for MinGW-w64
EOF
}

ARCH=64
ZPREFIX=
DEBUG=0
CONFIG=0
MINGW=0

while getopts "ha:z:dcMr" arg
do case $arg in
  a) ARCH=$OPTARG;;
  z) ZPREFIX=$OPTARG;;
  d) DEBUG=1;;
  c) CONFIG=1;;
  M) MINGW=1;;
  h) usage; exit 0;;
esac; done
shift $(($OPTIND - 1))

PREFIX=$1
[ -z "$PREFIX" ] && { usage; exit 1; }

if [ $DEBUG -eq 1 ]; then
  OPTFLAGS="-std=gnu++17 -g -m$ARCH"
  FLAGS="-DZDEBUG"
else
  OPTFLAGS="-std=gnu++17 -g -m$ARCH -O6 -mtune=haswell"
  FLAGS="-DNDEBUG"
fi

[ $MINGW -eq 1 ] && {
  [ -z "$ZPREFIX" ] && ZPREFIX="$PREFIX"
  OPTFLAGS="$OPTFLAGS -mstackrealign"
  case "$ARCH" in
    32) BUILD="--build=i686-w64-mingw32";;
    64) BUILD="--build=x86_64-w64-mingw32";;
    *) usage;;
  esac
}

case "$ARCH" in
  32) [ -z "$ZPREFIX" ] && ZPREFIX="/usr/local32";;
  64) [ -z "$ZPREFIX" ] && ZPREFIX="/usr/local";;
  *) usage;;
esac

[ $CONFIG -eq 1 ] && {
  touch configure.ac
  autoreconf -f -i
}

FLAGS="$OPTFLAGS $FLAGS"

[ "$ZPREFIX" != "$PREFIX" ] && ZPREFIX="${PREFIX}:${ZPREFIX}"

./configure $BUILD "--disable-static" "--prefix=$PREFIX" "--with-mxbase=$PREFIX" "--with-Z=$ZPREFIX" "CFLAGS=$FLAGS" "CXXFLAGS=$FLAGS"
