#!/bin/sh

usage() {
cat << EOF
Usage: z.config [OPTIONS] PREFIX

Options:
    -a ARCH	specify architecture (default: 64)
    -t PATH	specify third party libs path (default: /usr/local32
		  for 32 bit and /usr/local for 64 bit)
    -j PREFIX	specify JNI path (default: /usr/lib/jvm/java-8-openjdk)
    -L		use clang / llvm
    -c		force re-configure
    -d		debug build (default: release) 
    -D		address sanitizer build ('')
    -M		build for MinGW-w64
    -l		pass --enable-libtool-lock to configure
EOF
}

ARCH=64
OPREFIX=
JPREFIX="/usr/lib/jvm/java-8-openjdk"
CLANG=0
CONFIG=0
DEBUG=0
MINGW=0
CM_MIPS64=0
CM_X86_64=0
CM_VERBOSE=0
LIBTOOL_LOCK=""

while getopts "a:z:t:j:p:LcdDMlh" arg
do case $arg in
  a) ARCH=$OPTARG;;
  z|t) OPREFIX=$OPTARG;;
  j) JPREFIX=$OPTARG;;
  L) CLANG=1;;
  c) CONFIG=1;;
  d) DEBUG=1;;
  D) DEBUG=2; CLANG=1;;
  M) MINGW=1;;
  l) LIBTOOL_LOCK="--enable-libtool-lock";;
  h) usage; exit 0;;
esac; done
shift $(($OPTIND - 1))

PREFIX=$1
[ -z "$PREFIX" ] && { usage; exit 1; }

OPTFLAGS="-fno-math-errno -fno-trapping-math -fno-rounding-math -fno-signaling-nans"

if [ $DEBUG -eq 1 ]; then
  OPTFLAGS="-g -m$ARCH $OPTFLAGS"
  FLAGS="-DZDEBUG"
elif [ $DEBUG -eq 2 ]; then
  OPTFLAGS="-m$ARCH -O1 -mtune=haswell -g -fsanitize=address -fno-omit-frame-pointer -fno-optimize-sibling-calls $OPTFLAGS"
  FLAGS="-DZDEBUG"
else
  OPTFLAGS="-m$ARCH -O3 -mtune=haswell -g $OPTFLAGS"
  FLAGS="-DNDEBUG"
fi

[ $MINGW -eq 1 ] && {
  OPTFLAGS="$OPTFLAGS -mstackrealign"
  FLAGS="$FLAGS -DUNICODE"
  case "$ARCH" in
    32) BUILD="--build=i686-w64-mingw32";;
    64) BUILD="--build=x86_64-w64-mingw32";;
    *) usage;;
  esac
}

case "$ARCH" in
  32) [ -z "$OPREFIX" ] && OPREFIX="/usr/local32";;
  64) [ -z "$OPREFIX" ] && OPREFIX="/usr/local";;
  *) usage;;
esac

[ $CONFIG -eq 1 ] && {
  touch configure.ac
  [ $MINGW -eq 1 ] && {
    libtoolize --copy --force
    patch -p0 <libtool.m4.mingw_patch
  }
  autoreconf -i
}

FLAGS="$OPTFLAGS $FLAGS"

if [ $CLANG -eq 1 ]; then
  # clang
  WFLAGS="-Wno-empty-body -Wno-unknown-warning-option -Wno-ignored-optimization-argument -Wno-unused-private-field -Wno-varargs -Wno-deprecated-anon-enum-enum-conversion"
  FLAGS="$WFLAGS $FLAGS"
  CFLAGS="$FLAGS"
  CXXFLAGS="-std=gnu++2a -fno-aligned-allocation $FLAGS"
  if [ $DEBUG -eq 2 ]; then
    LDFLAGS="-fsanitize=address -lm"
  else
    LDFLAGS="-lm"
  fi
  ./configure $BUILD "--disable-static" "--prefix=$PREFIX" "--with-pcre=$OPREFIX" "--with-readline=$OPREFIX" "--with-hwloc=$OPREFIX" "--with-ck=$OPREFIX" "--with-jni=$JPREFIX" "CC=clang" "CXX=clang++" "CFLAGS=$CFLAGS" "CXXFLAGS=$CXXFLAGS" "LDFLAGS=$LDFLAGS" "$LIBTOOL_LOCK"
else
  # gcc
  WFLAGS="-Wno-sign-compare"
  CFLAGS="$FLAGS $WFLAGS"
  CXXFLAGS="-std=gnu++2a $FLAGS -Wno-non-template-friend $WFLAGS"
  ./configure $BUILD "--disable-static" "--prefix=$PREFIX" "--with-pcre=$OPREFIX" "--with-readline=$OPREFIX" "--with-hwloc=$OPREFIX" "--with-ck=$OPREFIX" "--with-jni=$JPREFIX" "CFLAGS=$FLAGS" "CXXFLAGS=$CXXFLAGS" "$LIBTOOL_LOCK"
fi
